@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
  font-family: SpaceMono-bold;
  src: url(/fonts/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: SpaceMono-regular;
  src: url(/fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: WorkSans-black;
  src: url(/fonts/WorkSans-Black.ttf);
}
@font-face {
  font-family: WorkSans-def;
  src: url(/fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: WorkSans-italic;
  src: url(/fonts/WorkSans-ThinItalic.ttf);
}
.header__logo-box {
  display: flex;
}

.header__logo-word {
  transform: translate(-170px, 0);
  width: 300px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 200px;
}

.header__menus {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.header__menu-link4 {
  padding: 15px;
  border: none;
  background-color: #a259ff;
  border-radius: 20px;
  color: white;
  font-family: WorkSans-def;
  height: 12px;
  width: 4.5%;
}

.bi-person {
  color: white;
  padding-right: 5px;
}

header {
  font-family: WorkSans-def;
}

.header__menu-link {
  color: white;
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .header__menus {
    display: none;
  }
  .header__menu-link4 {
    height: 10px;
    width: 110px;
    transform: translate(60px, 0);
    margin-left: 7px;
  }
  .sec1-right {
    transform: scale(0.6);
  }
  .sec1-left {
    transform: scale(0.8);
    margin-top: -170px;
    margin-left: 43.5px;
  }
  .section-one__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: -140px;
    margin-left: -35px;
  }
  .sec2__title {
    margin-left: -115px;
    margin-top: -100px;
  }
  .sec2__menus {
    display: flex;
    justify-content: center;
    width: 300px;
    transform: translate(-150px, 0);
  }
  .item2 {
    transform: translate(-865px, 550px);
  }
  .sec3__title {
    transform: translate(-100px, 490px);
  }
  .sec3__item {
    transform: translate(-80px, 480px);
  }
  .section-four__wrapper {
    transform: translate(-60px, 350px);
  }
  .sec4__item {
    transform: translate(-50px, 0);
  }
  body {
    overflow: hidden;
  }
  .container {
    max-width: 480px;
  }
}
.sec1-left__title {
  color: white;
  font-size: 50px;
  width: 350px;
}

.section-one__wrapper {
  font-family: WorkSans-def;
  display: flex;
  justify-content: space-around;
}

.section-one {
  margin-top: 100px;
}

.sec1-left__info {
  color: white;
  width: 350px;
}

.sec1-left__bottom {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.sec1-right__img-box {
  background: #3B3B3B;
  height: 500px;
  width: 510px;
  border-radius: 20px;
}

.sec1-right__img-title {
  color: white;
  margin-left: 20px;
}

.sec1-right__profile-img {
  margin-left: 20px;
  margin-top: -10px;
}

.sec1-right__profile-name {
  color: white;
  transform: translate(60px, -42px);
}

.section-two {
  margin: 50px 10px;
}

.sec2__title-word {
  color: white;
  font-size: 30px;
  margin-left: 150px;
}

.section-two {
  font-family: WorkSans-def;
}

.sec2__title-info {
  color: white;
  margin-left: 150px;
}

.sec2__menus {
  width: 1200px;
  margin-left: 110px;
  display: flex;
  justify-content: space-between;
}

.sec2__item-bottom-pics {
  display: flex;
  justify-content: space-between;
  width: 328px;
}

.s2__item-avatar {
  display: flex;
  gap: 5px;
}

.s2__item-bottom-avatar-name {
  color: white;
}

.sec3__title-word {
  color: white;
}

.sec3__title-info {
  color: white;
}

.section-three {
  font-family: WorkSans-def;
  margin: 50px 0;
}

.sec3__title {
  margin-left: 50px;
}

.sec3__btn {
  transform: translate(1000px, -80px);
}

.sec3__item {
  width: 240px;
  height: 260px;
  padding: 20px 0px 0px 0px;
  gap: 20px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #3B3B3B;
}

.section-three__wrapper {
  margin-left: 100px;
}

.sec3__item-number {
  background-color: #2B2B2B;
  padding: 5px 10px;
  color: #858584;
  width: 10px;
  border-radius: 50%;
  transform: translate(15px, -15px);
}

.sec3__item-img {
  transform: translate(60px, -50px);
}

.sec3__item-title {
  color: white;
  transform: translate(55px, -60px);
}

.sec3__item-info {
  color: #858584;
  transform: translate(30px, -50px);
}

.sec3__item-info-white {
  color: white;
  transform: translate(125px, -85px);
}

.sec3__menus {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.section-four {
  margin: 200px 0;
  font-family: WorkSans-def;
}

.section-four__wrapper {
  margin: 0 100px;
}

.sec4__title {
  color: white;
}

.sec4__item-img {
  filter: blur(0.2rem);
}

.sec4__item-title-img {
  transform: translate(80px, -180px);
}

.sec4__item {
  background-color: #3B3B3B;
  width: 240px;
  height: 320px;
  border-radius: 20px;
}

.sec4__item-title {
  color: white;
  transform: translate(20px, -90px);
}

.sec4__menu {
  display: flex;
  justify-content: space-between;
  width: 1150px;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.bi {
  color: white;
}

html {
  background-color: #2B2B2B;
}

.btn {
  padding: 19px 50px;
  border-radius: 20px;
  border: none;
  background-color: #A259FF;
}

.btn2 {
  padding: 19px 50px;
  border-radius: 20px;
  border: 2px solid #A259FF;
  background-color: #2B2B2B;
  color: white;
}/*# sourceMappingURL=style.css.map */