@font-face {
  font-family: SpaceMono-bold;
  src: url(/fonts/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: SpaceMono-regular;
  src: url(/fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: WorkSans-black;
  src: url(/fonts/WorkSans-Black.ttf);
}
@font-face {
  font-family: WorkSans-def;
  src: url(/fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: WorkSans-italic;
  src: url(/fonts/WorkSans-ThinItalic.ttf);
}
