.section-two{
    margin: 50px 10px;
}
.sec2__title-word{
    color: white;
    font-size: 30px;
    margin-left: 150px;
}
.section-two{
    font-family: WorkSans-def;
}
.sec2__title-info{
    color: white;
    margin-left: 150px;
}
.sec2__menus{
    max-width: 340px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.sec2__item-bottom-pics{
    display: flex;
    justify-content: space-between;
    max-width: 328px;
}
.s2__item-avatar{
    display: flex;
    gap: 5px;
}
.s2__item-bottom-avatar-name{
    color: white;
}
