.section-four{
    margin: 0px 0;
    font-family: WorkSans-def;
    max-width: 340px;
}
.section-four__wrapper{
    margin: 0 0px;
}
.sec4__title{
    color: white;
}
.sec4__item-img{
    filter: blur(0.2rem);
    max-width: 340px;
}
.sec4__item-title-img{
    transform: translate(80px,-180px);
}
.sec4__item{
    background-color: #3B3B3B;
    max-width: 240px;
    height: 320px;
    border-radius: 20px;
}
.sec4__item-title{
    color: white;
    transform: translate(20px,-90px);
}
.sec4__menu{
    display: flex;
    justify-content: space-between;
    max-width: 340px;
}