.sec3__title-word{
    color: white;
}
.sec3__title-info{
    color: white;
}
.section-three{
    font-family: WorkSans-def;
    margin: 50px 0;
}
.sec3__title{
    margin-left: 50px;
}
.sec3__btn{
    transform: translate(1000px,-80px);
}
.sec3__item{
    width: 240px;
    height: 260px;
    padding: 20px 0px 0px 0px;
    gap: 20px;
    border-radius: 20px;
    opacity: 0px;   
    background-color: #3B3B3B;    
}
.section-three__wrapper{
    margin-left: 100px;
}
.sec3__item-number{
    background-color: #2B2B2B;
    padding: 5px 10px;
    color: #858584;
    width: 10px;
    border-radius: 50%;
    transform: translate(15px,-15px);
}
.sec3__item-img{
    transform: translate(60px,-50px);
}
.sec3__item-title{
    color: white;
    transform: translate(55px,-60px);
}
.sec3__item-info{
    color: #858584;
    transform: translate(30px,-50px);
}
.sec3__item-info-white{
    color: white;
    transform: translate(125px,-85px);
}
.sec3__menus{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}