.sec1-left__title{
    color: white;
    font-size: 50px;
    width: 350px;
}
.section-one__wrapper{
    font-family: WorkSans-def;
    display: flex;
    justify-content: space-around;
}
.section-one{
    margin-top: 100px;
}
.sec1-left__info{
    color: white;
    width: 350px;
}
.sec1-left__bottom{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.sec1-right__img-box{
    background: #3B3B3B;
    height: 500px;
    width: 510px;
    border-radius: 20px;
}
.sec1-right__img-title{
    color: white;
    margin-left: 20px;
}
.sec1-right__profile-img{
    margin-left: 20px;
    margin-top: -10px;
}
.sec1-right__profile-name{
    color: white;
    transform: translate(60px,-42px);
}