.header__logo-box {
  display: flex;
}
.header__logo-word {
  transform: translate(-170px, 0);
  width: 300px;
}
.header__wrapper {
  @include df(space-between);
}
.header__logo {
  width: 200px;
}
.header__menus {
  @include df(space-around);
  gap: 20px;
}
.header__menu-link4 {
  padding: 15px;
  border: none;
  background-color: #a259ff;
  border-radius: 20px;
  color: white;
  font-family: WorkSans-def;
  height: 12px;
  width: 4.5%;
}
.bi-person {
  color: white;
  padding-right: 5px;
}
header {
  font-family: WorkSans-def;
}
.header__menu-link{
  color: white;
}
@media screen and (max-width:480px){
  .header__wrapper{
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .header__menus{
    display: none;
  }
  .header__menu-link4{
    height: 10px;
    width: 110px;
    transform: translate(60px,0);
    margin-left: 7px;
  }
  .sec1-right{
    transform: scale(.6); 
  }
  .sec1-left{
    transform: scale(0.8);
    margin-top: -170px;
    margin-left: 43.5px;
  }
  .section-one__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: -140px;
    margin-left: -35px;
  }
  .sec2__title{
    margin-left: -115px;
    margin-top: -100px;
  }
  .sec2__menus{
    display: flex;
    justify-content: center;
    max-width: 300px;
    transform: translate(-150px,0);
  }
  .item2{
    transform: translate(-865px,550px)
  }
  .sec3__title{
    transform: translate(-100px,490px);
  }
  .sec3__item{
    transform: translate(-80px,480px);
  }.section-four__wrapper{
    transform: translate(-60px,350px);
  }
  .sec4__item{
    transform: translate(-50px,0);
  }
  .section-two{
    transform: translate(30px,0);
  }
  .section-three{
    transform: translate(0,-550px);
  }
  .section-four{
    transform: translate(140px,-450px);
  }
  .container{
    max-width: 480px;
  }
  .sec4__title{

  }
  .sec4__title{
    transform: translate(-800px,0);
  }
  .sec2__menus{
    max-width: 340px;
  }
  .sec2__wrapper{
    max-width: 340px;
  }
  .sec4__menu{
    max-width: 340px;
  }
  .sec4__item-img{
    max-width: 340px;
  }
  .sec4__item{
    max-width: 340px;
  }
  .section-four__wrapper{
    max-width: 340px;
  }
  .sec2__menu-item{
    margin-left: 100px;
  }
  body{
    transform: translate(-30px,0);
  }
}