.header__logo-box {
  display: flex;
}
.header__logo-word {
  transform: translate(-170px, 0);
  width: 300px;
}
.header__wrapper {
  @include df(space-between);
}
.header__logo {
  width: 200px;
}
.header__menus {
  @include df(space-around);
  gap: 20px;
}
.header__menu-link4 {
  padding: 15px;
  border: none;
  background-color: #a259ff;
  border-radius: 20px;
  color: white;
  font-family: WorkSans-def;
}
.bi-person {
  color: white;
  padding-right: 5px;
}
header {
  font-family: WorkSans-def;
}
.header__menu-link{
  color: white;
}